
@{
    ViewBag.Title = "Error";
    /*Layout = "~/Views/Shared/Error.cshtml";*/
}

<div class="error-content" style="text-align: center;">

    <i class="fas fa-exclamation-triangle fs-1"></i>
    <h3><i class="glyphicon glyphicon-warning-sign"></i>Usted no tiene acceso a esta sección.</h3>

    <p>
        Consulte con el Administrador del Sistema para que le proporcione los accesos solicitados.
        Por ahora debe retornar al <a href="/Home/Index">Inicio</a>.
    </p>

</div>

