@{
    ViewBag.Title = "Home Page";
}

<br>
<br>
<br>

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"><span class="text-muted">¡Bienvenido a </span> Mygro Kermesse!</h2>
            <p class="lead">Tu sistema de gestión para una kermesse. Puedes registrar tus productos, comunidades, bonos, gestionar tus ingresos, arqueo de caja y muchas cosas más...</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" src="~/Content/img/banner1.png">

        </div>
    </div>

    <br><br>

    <hr class="featurette-divider">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/ArqueoIcon.png" />
            <h2>Arqueo de caja</h2>
            <p>Gestiona el dinero recaudado durante la kermesse en arqueo de caja.</p>
            <p><a class="btn btn-primary" href="#">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/TasaIcon.png" />
            <h2>Tasa de cambio</h2>
            <p>Registra y consulta las tasas de cambio por período.</p>
            <p><a class="btn btn-primary" href="#">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/MonedaIcon.png" />
            <h2>Moneda</h2>
            <p>Consulta las monedas disponibles en el sistema.</p>
            <p><a class="btn btn-primary" href="#">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/DenominacionIcon.png" />
            <h2>Denominaciones</h2>
            <p>Gestiona la denominación de las monedas disponibles.</p>
            <p><a class="btn btn-primary" href="#">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

</div><!-- /.container -->

<br>
<br>