@{
    ViewBag.Title = "Home Page";
}

<br>
<br>
<br>

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"><span class="text-muted">¡Bienvenido a </span> Mygro Kermesse!</h2>
            <p class="lead">Tu sistema de gestión para una kermesse. Puedes registrar tus productos, comunidades, bonos, gestionar tus ingresos, arqueo de caja y muchas cosas más...</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" src="~/Content/img/banner1.png">

        </div>
    </div>

    <br><br>

    <hr class="featurette-divider">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/user-logo.jpg" />
            <h2>Usuarios</h2>
            <p>Gestiona los usuarios de las personas participantes durante la kermesse.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_usuario", "Tbl_Usuario")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/rol-logo.jpg" />
            <h2>Roles</h2>
            <p>Registra los roles a desempeñar para los distintos usuarios.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_rol", "Tbl_Rol")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/userrol-logo.jpg" />
            <h2>Roles de usuarios</h2>
            <p>Asigne los roles a sus respectivos usuarios para tener acceso al sistema.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_rol_usuario","Tbl_Rol_Usuario")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" src="~/Content/img/rolopc-logo.jpg" />
            <h2>Opciones de rol</h2>
            <p>Asigne las opciones/permisos que deben tener los respectivos roles.</p>
            <p><a class="btn btn-primary" href="@Url.Action("tbl_rol_opcion","Tbl_Rol_Opcion")">Acceder aquí &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

</div><!-- /.container -->

<br>
<br>